.row{
  margin: 0 !important;
}
.navbar{
  height: 100%;
  padding: 0;

  .navbutton{
    float: left;
    padding: 0;
    height: 50px;
  }
  .logo{
     background-color: #E7E7E7;
     float: left;
     padding: 0;
     height: 100px;
  }
  .spacestorm {
    background-color: #A349A4;
  }
  .spacestorm:hover {
    background-color: #A977A9;
  }
  .nyu {
    background-color: #DA45A5;
  }
  .nyu:hover {
    background-color: #FF8DD6;
  }
}
.firstpage {
  height: 100%;
  background-image: url("../img/spacestorm.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
